<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" typw="text/css" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-color: beige">
    <div class="container">
        <header class="jumbotron" style="background-color: blanchedalmond; color: peru">
            <h1>My Video Games</h1>
        </header>
        @RenderBody()
    </div>
</body>
</html>